body.dark {
  background: #121212;
  color: white;
}

body.dark .card {
  background: #1e1e1e;
  color: white;
}

body.dark .form-control,
body.dark .form-select {
  background: #2a2a2a;
  color: white;
  border-color: #444;
}

body.dark .navbar {
  background: #000 !important;
}
body.dark p,
body.dark h1,
body.dark h2,
body.dark h3,
body.dark h4,
body.dark h5,
body.dark h6,
body.dark span,
body.dark label {
  color: white;
}

body.dark .text-muted {
  color: #bdbdbd !important;
}