body.dark {
  background-color: #121212;
  color: white;
}

body.dark .card {
  background-color: #1e1e1e;
  color: white;
}

body.dark .form-control,
body.dark select,
body.dark textarea {
  background-color: #2a2a2a;
  color: white;
  border-color: #444;
}

body.dark .navbar {
  background-color: #000 !important;
}

body.dark .container {
  color: white;
}

body.dark .text-muted {
  color: #cccccc !important;
}

body.dark .alert {
  color: black;
}